<h3>Add new room</h3>
<form method="POST" action="/rooms" enctype="multipart/form-data">
    <div class="form-group">
    <label>Name</label>
    <input class="form-control" type="text" name="name" placeholder="name">
    </div>
    <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" name="description" placeholder="description">
    </div>
    <div class="form-group">
    <label>Address</label>
    <input class="form-control" type="text" name="latitude" placeholder="latitude">
    <input class="form-control" type="text" name="longitude" placeholder="longitude">
    </div>
    
    <input type="file" name="photo">
    <input type="submit" name="" id="submit" value="SAVE">
    {{!-- <label for="type">Place Type</label><br> --}}
    {{!-- <select name='type'>
        <option value="Coffee shop">Coffee shop</option>
        <option value="Book store">Book store</option>
    </select> --}}
    {{!-- you will start using "address" part when you 
set up your model to be able to store lat and long, so add address here:  --}}
    
</form>
<a href="/">Back to the list</a>